@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
